:root,[data-eg-theme=light] {
    --eg-red: #f44336;
    --eg-pink: #e91e63;
    --eg-purple: #9c27b0;
    --eg-indigo: #3f51b5;
    --eg-blue: #2196f3;
    --eg-cyan: #00bcd4;
    --eg-teal: #009688;
    --eg-green: #4caf50;
    --eg-yellow: #ffeb3b;
    --eg-orange: #ff9800;
    --eg-white: #fff;
    --eg-black: #000;
    --eg-gray: #757575;
    --eg-gray-dark: #4f4f4f;
    --eg-gray-50: #fbfbfb;
    --eg-gray-100: #f5f5f5;
    --eg-gray-200: #eeeeee;
    --eg-gray-300: #e0e0e0;
    --eg-gray-400: #bdbdbd;
    --eg-gray-500: #9e9e9e;
    --eg-gray-600: #757575;
    --eg-gray-700: #616161;
    --eg-gray-800: #4f4f4f;
    --eg-gray-900: #262626;
    --eg-primary: #3b71ca;
    --eg-secondary: #9fa6b2;
    --eg-success: #14a44d;
    --eg-danger: #dc4c64;
    --eg-warning: #e4a11b;
    --eg-info: #54b4d3;
    --eg-light: #fbfbfb;
    --eg-dark: #332d2d;
    --eg-primary-rgb: 59, 113, 202;
    --eg-secondary-rgb: 159, 166, 178;
    --eg-success-rgb: 20, 164, 77;
    --eg-danger-rgb: 220, 76, 100;
    --eg-warning-rgb: 228, 161, 27;
    --eg-info-rgb: 84, 180, 211;
    --eg-light-rgb: 251, 251, 251;
    --eg-dark-rgb: 51, 45, 45;
    --eg-primary-text-emphasis: #2f5aa2;
    --eg-secondary-text-emphasis: #404247;
    --eg-success-text-emphasis: #0c622e;
    --eg-info-text-emphasis: #3b7e94;
    --eg-warning-text-emphasis: #896110;
    --eg-danger-text-emphasis: #b03d50;
    --eg-light-text-emphasis: #616161;
    --eg-dark-text-emphasis: #eeeeee;
    --eg-primary-bg-subtle: #e2eaf7;
    --eg-secondary-bg-subtle: #f1f2f3;
    --eg-success-bg-subtle: #dcf1e4;
    --eg-info-bg-subtle: #e5f4f8;
    --eg-warning-bg-subtle: #fbf1dd;
    --eg-danger-bg-subtle: #fae4e8;
    --eg-light-bg-subtle: #f5f5f5;
    --eg-dark-bg-subtle: #262626;
    --eg-primary-border-subtle: #b1c6ea;
    --eg-secondary-border-subtle: #d9dbe0;
    --eg-success-border-subtle: #a1dbb8;
    --eg-info-border-subtle: #bbe1ed;
    --eg-warning-border-subtle: #f4d9a4;
    --eg-danger-border-subtle: #f1b7c1;
    --eg-light-border-subtle: #eeeeee;
    --eg-dark-border-subtle: #9e9e9e;
    --eg-white-rgb: 255, 255, 255;
    --eg-black-rgb: 0, 0, 0;
    --eg-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --eg-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --eg-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --eg-body-font-family: var(--eg-font-roboto);
    --eg-body-font-size: 1rem;
    --eg-body-font-weight: 400;
    --eg-body-line-height: 1.6;
    --eg-body-color: #4f4f4f;
    --eg-body-color-rgb: 79, 79, 79;
    --eg-body-bg: #fff;
    --eg-body-bg-rgb: 255, 255, 255;
    --eg-emphasis-color: #000;
    --eg-emphasis-color-rgb: 0, 0, 0;
    --eg-secondary-color: rgba(79, 79, 79, 0.75);
    --eg-secondary-color-rgb: 79, 79, 79;
    --eg-secondary-bg: #eeeeee;
    --eg-secondary-bg-rgb: 238, 238, 238;
    --eg-tertiary-color: rgba(79, 79, 79, 0.5);
    --eg-tertiary-color-rgb: 79, 79, 79;
    --eg-tertiary-bg: #fbfbfb;
    --eg-tertiary-bg-rgb: 251, 251, 251;
    --eg-heading-color: inherit;
    --eg-link-color: #3b71ca;
    --eg-link-color-rgb: 59, 113, 202;
    --eg-link-decoration: none;
    --eg-link-hover-color: #386bc0;
    --eg-link-hover-color-rgb: 56, 107, 192;
    --eg-link-hover-decoration: none;
    --eg-code-color: #e91e63;
    --eg-highlight-color: #4f4f4f;
    --eg-highlight-bg: #fff9c4;
    --eg-border-width: 1px;
    --eg-border-style: solid;
    --eg-border-color: #e0e0e0;
    --eg-border-color-translucent: rgba(0, 0, 0, 0.175);
    --eg-border-radius: 0.25rem;
    --eg-border-radius-sm: 0.25rem;
    --eg-border-radius-lg: 0.5rem;
    --eg-border-radius-xl: 1rem;
    --eg-border-radius-xxl: 2rem;
    --eg-border-radius-2xl: var( --eg-border-radius-xxl );
    --eg-border-radius-pill: 50rem;
    --eg-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --eg-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --eg-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --eg-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --eg-focus-ring-width: 0.25rem;
    --eg-focus-ring-opacity: 0.25;
    --eg-focus-ring-color: rgba(59, 113, 202, 0.25);
    --eg-form-valid-color: #14a44d;
    --eg-form-valid-border-color: #14a44d;
    --eg-form-invalid-color: #dc4c64;
    --eg-form-invalid-border-color: #dc4c64
}

[data-eg-theme=dark] {
    color-scheme: dark;
    --eg-body-color: #fff;
    --eg-body-color-rgb: 255, 255, 255;
    --eg-body-bg: #303030;
    --eg-body-bg-rgb: 48, 48, 48;
    --eg-emphasis-color: #fff;
    --eg-emphasis-color-rgb: 255, 255, 255;
    --eg-secondary-color: rgba(255, 255, 255, 0.75);
    --eg-secondary-color-rgb: 255, 255, 255;
    --eg-secondary-bg: #4f4f4f;
    --eg-secondary-bg-rgb: 79, 79, 79;
    --eg-tertiary-color: rgba(255, 255, 255, 0.5);
    --eg-tertiary-color-rgb: 255, 255, 255;
    --eg-tertiary-bg: #3b3b3b;
    --eg-tertiary-bg-rgb: 59, 59, 59;
    --eg-primary-text-emphasis: #628dd5;
    --eg-secondary-text-emphasis: #d9dbe0;
    --eg-success-text-emphasis: #72c894;
    --eg-info-text-emphasis: #87cbe0;
    --eg-warning-text-emphasis: #efc776;
    --eg-danger-text-emphasis: #e37083;
    --eg-light-text-emphasis: #f5f5f5;
    --eg-dark-text-emphasis: #eeeeee;
    --eg-primary-bg-subtle: #0c1728;
    --eg-secondary-bg-subtle: #202124;
    --eg-success-bg-subtle: #04210f;
    --eg-info-bg-subtle: #11242a;
    --eg-warning-bg-subtle: #2e2005;
    --eg-danger-bg-subtle: #2c0f14;
    --eg-light-bg-subtle: #4f4f4f;
    --eg-dark-bg-subtle: #262626;
    --eg-primary-border-subtle: #234479;
    --eg-secondary-border-subtle: #5f646b;
    --eg-success-border-subtle: #0c622e;
    --eg-info-border-subtle: #326c7f;
    --eg-warning-border-subtle: #896110;
    --eg-danger-border-subtle: #842e3c;
    --eg-light-border-subtle: #616161;
    --eg-dark-border-subtle: #4f4f4f;
    --eg-heading-color: inherit;
    --eg-link-color: #89aadf;
    --eg-link-hover-color: #8faee1;
    --eg-link-color-rgb: 137, 170, 223;
    --eg-link-hover-color-rgb: 143, 174, 225;
    --eg-code-color: #f278a1;
    --eg-highlight-color: #fff;
    --eg-highlight-bg: #f9a825;
    --eg-border-color: rgba(255, 255, 255, 0.12);
    --eg-border-color-translucent: rgba(255, 255, 255, 0.15);
    --eg-form-valid-color: #81c784;
    --eg-form-valid-border-color: #81c784;
    --eg-form-invalid-color: #e57373;
    --eg-form-invalid-border-color: #e57373
}